@import "tailwindcss";

@font-face {
  font-family: 'PlayFair';
  src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Garamond';
  src: url('/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

:root {
  --background: #D2CDC6;
  --foreground: #171717;

  --text-color: #D2CDC6;
  --bg-dark-blue: #0B1F33;
  --bg-navbar: rgba(24, 32, 40, 0.9);
  --bg-light: #a0a09e;
  --bg-dark: #8d8d8d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 38px;
}
